:root {
  /* Colores */
  --color-dark-green: #9B9A78;
  --color-white: #FFFFFF;
  --color-gray: #909090;
  /* Fuentes */
  --heading-font: "Playfair Display", serif;
  --text-font: "Poppins", sans-serif;
  --text2-font: "Nunito Sans", sans-serif;
  /*Tamaños de fuente*/
  --text-size: 14px;
  --text2-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/ellipse@2x.png), url(../img/ellipse@2x.png);
  background-repeat: no-repeat;
  background-size: 25%, 12%;
  background-position: left -100px, center;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.header .navbars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 100px;
}

.header .navbars ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .navbars a {
  display: inline-block;
  padding: 10px 30px;
}



.header .menu ul a {
  text-decoration: none;
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: thin;
  color: black;
}

.header .menu ul a.active {
  color: var(--color-dark-green);
}

.header .menu ul a:hover {
  font-weight: bold;
  color: var(--color-dark-green);
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.header .navbar .login {

  width: 100%;
}

.header .navbar .login .sign-in {
  font-family: var(--text2-font);
  color: var(--color-dark-green);
  font-size: 14px;
  align-items: center;

}

.header .navbar .login .sign-up {
  background-color: var(--color-dark-green);
  color: var(--color-white);
  font-family: var(--text-font);
  font-size: var(--text-size);
  transition: all 0.5s ease;
}

.header .navbar .login .sign-up:hover {
  background-color: black;
  color: var(--color-white);
}

.hero {
  width: 100%;
  min-height: 500px;
  background-image: url(../img/Placeholder.jpg);
  background-size: 60% auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
}

.hero-content {
  width: 50%;


}

.hero .title {


  background-color: white;
  opacity: 0.7;
  padding: 30px;
}

.hero h1::before {
  content: '';
  width: 42px;
  height: 5px;
  background-color: var(--color-dark-green);
  position: absolute;
  right: -43px;
  top: 26px;
}

.hero .services {
  width: 60%;
  padding-right: 40px;
  margin-left: auto;
}

.hero .services ul {
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;


}



.hero .services li {
  background-image: url(../img/Check.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  background-size: 20px;
}

.hero .services img {
  width: 20px;
}

.hero .services p {
  font-family: var(--text-font);
  font-size: var(--text-size);
  display: inline-block;
  padding: 5px;
}


.hero h1 {
  display: inline-block;
  font-family: var(--heading-font);
  font-size: 40px;
  z-index: 1;
  width: 65%;
  margin: 0;
  position: relative;
}

.hero .title p {
  display: inline-block;
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: 500;
  color: var(--color-dark-green);
  z-index: 1;
}

.categories {
  display: flex;
  justify-content: space-around;
}

.categories article {
  width: 300px;
}

.categories img {
  width: 60px;
}

.categories h3 {
  font-family: var(--text-font);
  font-size: var(--text-font);
}

.categories p {
  font-family: var(--text-font);
  font-size: var(--text-size);
  color: var(--color-gray);
}

/* Buscador */

.search-container {
  position: relative;
  display: inline-block;
}

.search-input {
  width: 0;
  padding: 0;
  opacity: 0;
  transition: width 0.3s, opacity 0.3s, padding 0.3s;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  position: absolute;
  right: 35px;
  top: 0;
}

.search-container.active .search-input {
  width: 200px;
  padding: 6px 10px;
  opacity: 1;
}

.search-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;

}